.App-newplaylist {
    text-align: center;
    padding: 1rem
}

.App-newplaylist button {
    width: 85%;
    height: 2rem;
    background-color: var(--secondary);
    border: none;
    color: var(--text-one);
    font-size: 1rem;
    -webkit-box-shadow: 3px 3px 0px 1px var(--accent); 
    box-shadow: 3px 3px 0px 1px var(--accent);
    transition: .3s;
}

.App-newplaylist button:hover {
    cursor: pointer;
    background-color: var(--primary);
    -webkit-box-shadow: 5px 5px 0px 1px var(--accent); 
    box-shadow: 5px 5px 0px 1px var(--accent);
}

.App-newplaylist button:hover {
   cursor: pointer;
  
}