:root {
  --primary :#205459;
  --secondary:#037F8C;
  --text-one : #F2E7C4;
  --accent: #F28F38;
  --hightlight: #F25757;
  font-size: 1vw;
  transition: .3s;
 
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 16px;
  }
}
@media screen and (max-width: 1000px) {
  :root {
    font-size: 16px;
  }
}

body {
  min-height: 100vh;
  background: #D0F5A4;
  background: -moz-linear-gradient(45deg, #D0F5A4 0%, #A9F5F0 56%, #D4F2AE 100%);
  background: -webkit-linear-gradient(45deg, #D0F5A4 0%, #A9F5F0 56%, #D4F2AE 100%);
  background: linear-gradient(45deg, #D0F5A4 0%, #A9F5F0 56%, #D4F2AE 100%);
  overflow: hidden;
  color: var(--text-one);
}

.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-background {
  width: 100%;
  height: 93vh;
  background-image: url('https://images.unsplash.com/photo-1598488035139-bdbb2231ce04?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
 background-size: cover;
 background-repeat: no-repeat;

}



.Navbar {
  height: 7vh;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary);
  overflow: hidden;

}

.Navbar-home {
  margin-top: 1rem;
  margin-left: 1rem;
}
.Navbar-home img {
  border-radius: 50%;
  height: 7vh;
  position:absolute;
  left: 0;
  top: 0;

}


.Navbar-links, .Navbar-loggedIn {

  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.Navbar a , .Navbar p , .Navbar h3{
  text-decoration: none;
  color: var(--text-one)

}

.Navbar-links a:hover {
  background-color: var(--accent);
}

.Navbar-links a {
  position: relative;
  height: 100%;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: .3s
 
}

.Navbar h3 {
  margin-left: 1rem;
}

.Navbar p {
  text-transform: capitalize;
}

@media screen and (max-width: 500px) {
  .Navbar-links {
    width: 80%
  }
}

input[type=text],input[type=password] {
  outline: 3px solid var(--accent);
}
