.Playlist {
    text-align: center;
    width: 80%;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    background: #4CCECE;
    background: -moz-linear-gradient(45deg, #4CCECE 0%, #4CCECE 26%, #55C567 100%);
    background: -webkit-linear-gradient(45deg, #4CCECE 0%, #4CCECE 26%, #55C567 100%);
    background: linear-gradient(45deg, #4CCECE 0%, #4CCECE 26%, #55C567 100%);
    padding: 2rem;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  
}

.Playlist table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* .Playlist table, th, td {
    border: 1px solid black;
  } */

/* .Playlist tr:hover {background-color: #888484;} */

.Playlist tr:nth-child(even) {background-color: rgba(0,0,0,0.2);}

.Playlist-name-edit {
	height: 1.5rem;
	font-size: 1rem;
	margin-top: 1rem;
}

.Playlist-header{
    display: flex;
    justify-content: space-between;
}

.Playlist-header-buttons {
    margin-top: 1rem;
    
}

.Playlist-header-buttons button:hover, .Playlist-delete-song:hover{
    cursor: pointer;
}

.Playlist table {
	width: 90%;
	border-collapse: collapse;
	overflow: hidden;
	-webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.Playlist-delete, .Playlist-add {
	border: none;
	padding: .5rem;
	margin: .6rem;
	font-size: .9rem;
	transition: .3s;
}

.Playlist-delete {
	color: var(--text-one);
	background-color: var(--hightlight);
	-webkit-box-shadow: 2px 2px 0px 1px var(--secondary); 
    box-shadow: 2px 2px 0px 1px var(--secondary);
	
}

.Playlist-delete:hover {
	background-color: var(--accent);
	-webkit-box-shadow: 2px 2px 0px 1px var(--primary); 
    box-shadow: 2px 2px 0px 1px var(--primary);
}
.Playlist-add {
	color: var(--text-one);
	background-color: var(--secondary);
	-webkit-box-shadow: 2px 2px 0px 1px var(--accent); 
    box-shadow: 2px 2px 0px 1px var(--accent);
}

.Playlist-add:hover {
	background-color: var(--accent);
	-webkit-box-shadow: 2px 2px 0px 1px var(--primary); 
    box-shadow: 2px 2px 0px 1px var(--primary);
}


.Playlist th,.Playlist td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

.Playlist th {
	text-align: center;
}


.Playlist th {
		background-color: var(--primary);
	}

	@media screen and (max-width: 500px) {
		.Playlist {
		  width: 100%;
		}
		.Playlist table {
			width: 100%;
		}
	  }