:root {
  --primary :rgb(65, 112, 49);
  --text-one : rgb(255, 244, 244);
}

body {
  min-height: 100vh;
  background: #D0F5A4;
  background: -moz-linear-gradient(45deg, #D0F5A4 0%, #A9F5F0 56%, #D4F2AE 100%);
  background: -webkit-linear-gradient(45deg, #D0F5A4 0%, #A9F5F0 56%, #D4F2AE 100%);
  background: linear-gradient(45deg, #D0F5A4 0%, #A9F5F0 56%, #D4F2AE 100%);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-background {
  width: 100%;
  height: 93vh;
  background-image: url('https://images.unsplash.com/photo-1598488035139-bdbb2231ce04?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
 background-size: cover;
 background-repeat: no-repeat;
  
}



.Navbar {
  height: 7vh;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary);
}

.Navbar-home {
  margin-top: 1rem;
  margin-left: 1rem;
}

.Navbar-links, .Navbar-loggedIn {
  
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Navbar a , .Navbar p , .Navbar h3{
  text-decoration: none;
  color: var(--text-one)

}

.Navbar h3 {
  margin-left: 1rem;
}

.Navbar p {
  text-transform: capitalize;
}

